.row__poster {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
	transition: transform 450ms;
	margin-right: 10px;
}
.row__posters {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}
.row__posters::-webkit-scrollbar {
	display: none;
}
.row__poster:hover {
	transform: scale(1.1);
}
.row__posterLarge {
	max-height: 250px;
}
.row__posterLarge:hover {
	transform: scale(1.109);
	opacity: 0.9;
}
.row {
	margin-left: 20px;
	color: #fff;
}
.video__container {
	position: relative;
	margin-top: 20px;
}

.close__button {
	position: absolute;
	top: 10px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	border: none;
	border-radius: 50%;
	cursor: pointer;
	font-size: 20px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
}
