.header_outer_container {
	position: sticky;
	top: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(20, 20, 20);
	background-color: transparent;
	height: 10vh;
	color: #fff;
	transition: all 0s;
	transition-timing-function: ease-in;
	z-index: 1;
	

}
.nav__black {
	background-color: rgb(20, 20, 20);
}
.header_container {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.header_left ul {
	width: 140%;
	display: flex;
	justify-content: space-between;
}
.header_left ul,.header_right ul li{
    list-style: none;
}
.header_right ul{
display: flex;
justify-content: space-between;
align-items: center;
}