.footer_outer_container{
    background-color:#111;
    color:gray;
    display: flex;
    justify-content: center;
}
.footer_inner_container{
    width: 60%;
}
.footer_icons{
    display: flex;
    width: 12%;
    justify-content: space-around;
    margin-left: 10px;
    color: #fff;
}
.footer_data{display: flex;
justify-content: space-between;

}
.footer_data ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 12vh;

}
.footer_data ul li{
    cursor: pointer;
}
ul{
    padding-left: 0;
}
.service_code{
    display: flex;
    align-items: center;
    justify-content: center;
    border: #fff 1px solid;
    width: 10%;
    
    cursor: pointer;
}
.copy-write{
    font-size: 12px;
    margin-bottom: 1px;
}